 body{
            background-color: black;
        }
        #navbar{
            background-color: rgba(48, 48, 48, 0.5);
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
            border-radius: 20px;
            align-items: center;
            border: 1px solid rgba(76, 75, 75, 0.5);


            
        }
        #navbar #nav1{
            display: flex;
            justify-content: center;
            gap: 10px;
        }
        #navbar #nav1 img{
            width: 30px;
            height: 30px;
        }
        #navbar #nav1 a{
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
        #navbar #nav2{
            display: flex;
            justify-self: center;
            gap: 60px;
        }
        #navbar #nav2 a{
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
        #navbar #nav3{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            margin-right: 20px;
        }
        #navbar #nav3 a{
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
        #navbar #nav3 img{
            width: 60px;
            height: 60px;
            border-radius: 20px;
        }
        /* cardss */
        #graph{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
             margin-top: 20px;
             justify-content: center;
             align-items: center;
             gap: 10px;

        }
        #ammount {
            background-color: rgba(48, 48, 48, 0.5);
            margin-top: 20px;
            height: 300px;
            width: 300px;
            border-radius: 20px;
            padding-left: 40px;
              border: 1px solid rgba(76, 75, 75, 0.5);
        }
        #ammount #heading {
            display: flex;
            color: white;
            gap: 80px;
            align-items: center;
            
        }
        #ammount #heading #cards{
            background-color: rgba(101, 101, 101, 0.4);
            width: 80px;
            color: white;
            border-radius: 12px;

        }
        #ammount #cvv{
            background-color: rgb(31, 100, 31);
            color: white;
            padding-left: 2px;
            width: 50px;
            font-size: larger;
            border-radius: 12px;
        }
        #detail{
            display: flex; 
            gap: 20px;
            color: white;
            font-size: small;
        }
        .detail{
            color: gray;
             font-size: smaller; 
        }
        .value{
            color: white;
             font-size: smaller; 
        }
        #info{
            display: flex;
            flex-direction: column;
            font-size: smaller; 
        
        }
        #graph #stats{
         border: 2px solid rgba(76, 75, 75, 0.5);
                width: 450px; 
            height: 300px;
            overflow: hidden; 
            position: relative;
            border-radius: 20px;
            margin-top: 20px;
            
        }
        #stats img{
            width: 450px;
            height: 100%;
             
            display: block
        }
        #dailyspend{
             width: 400px; 
            height: 300px;
            overflow: hidden; 
            position: relative;
            border-radius: 20px;
            margin-top: 20px; 
             border: 2px solid rgba(76, 75, 75, 0.5);
            
        }
        table th{
            width: 200px;
            color: bisque;
            border: none;
            text-transform: uppercase;
            
             
        }
        table img{
            padding-left: -20px;
        }
        tr{
            margin-top: 20px;
            border-bottom: 1px solid rgba(76, 75, 75, 0.5) ;
            color: white;
        
        }
        table{
           border: 1px solid rgba(76, 75, 75, 0.5) ; 
         
        }
        td{
              padding-left: 50px; 
        }
        table button{
            background-color: rgba(188, 181, 181, 0.5);
            border: none;
            border-radius: 12px;
            color: rgb(181, 197, 196);
        }
        #editable{
            background-color:rgba(101, 101, 101, 0.4) ;
        }
        #editable input{
            background-color: rgb(10, 6, 6);
            border: none;
            border-bottom: 1px solid rgb(61, 61, 62);
            color: white;
            padding: 10px;
            box-shadow: 0px 0px  20px rgb(38, 38, 95);

        }
        #editable{
            position: absolute;
            top: 700px;
            left: 700px;
            border: 1px solid black;
            
        }
      #insertData label{
        color: white;
      }
      #insertData input{
         background-color: rgba(12, 12, 12, 0.3);
            border: none;
            border-bottom: 1px solid rgb(61, 61, 62);
            color: white;
            padding: 10px;
            margin-left: 30px;
            
      }
     #insertData{
        background-color: rgb(21, 19, 19);
        box-shadow: 0px 0px  20px rgb(38, 38, 95);
        width: 300px;
        padding: 20px;
        border-radius: 12px;
         position: absolute;
            top: 700px;
            left: 700px;
     }
     #btn:hover{
        color: white;
        background-color: black;

     }
        
        
        
